html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(#ffcc00, #e60000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-shadow: 2px 2px 2px black;
}

h1 {
  text-align: center;
  font-variant: small-caps;
  font-size: 3rem;
}

#tic-tac-toe {
  width: 40%;
  margin: 0 auto;
}

.row {
  width: 100%;
  height: 33%;
  margin: 1% 0;
}

button {
  text-shadow: 2px 2px 2px black;
}

.button-div {
  width: 30%;
  float: left;
  display: inline;
}

.grid {
  width: 100%;
  height: 100%;
  font-size: 5rem;
  background-color: transparent;
  border: 6px solid black;
}

.grid:hover {
  background-color: rgba(255,255,255,0.3);
  transition: all 0.2s ease;
}

button:focus {
  outline: 0;
}

.play {
  width: 30%;
  font-size: 3rem;
  margin: 20% auto;
  display: block;
  border-radius: 12px;
}

p {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin: 1rem 0;
}

p.draw {
  color: orange;
}

.reset, .reset-scores {
  width: 15%;
  font-size: 1.5rem;
  display: block;
  border-radius: 12px;
  background-color: black;
  color: #ffcc00;
  bottom: 0;
}

.reset {
  float: left;
  margin-left: 3%;
}

.reset-scores {
  color: rgb(241,90,0);
  float: right;
  margin-right: 3%;
}

h2 {
  font-size: 2.3rem;
  text-decoration: underline;
  font-variant: small-caps;
}

.player-1-score {
  float: left;
  margin-left: 7%;
  margin-top: 5%;
}

.player-2-score {
  float: right;
  margin-right: 7%;
  margin-top: 5%;
}

.player-1-score span, .player-2-score span {
  display: block;
  text-align: center;
  font-size: 2rem;
}

.outcome {
  margin-top: 2rem;
  color: white;
}

.top {
  border-top: none;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}

.bottom {
  border-bottom: none;
}

.the-line {
  clear: both;
}
